<div id="todoapp">

</div>
<script type="text/template" id="App">
<div class="lang">
    <div id="ru">ru</div>
    <div id="eng">eng</div>
    <div id="ua">ua</div>
</div>    
        
        <header>
          <h1>{{ header }}</h1>
          <input id="new-todo" type="text" placeholder="{{ placeholder }}">
        </header>
        
    
</script>
<script type="text/template" id="item-template">
        <div class="view">

            <input class="toggle" type="checkbox" {{ done ? 'checked="checked"' : '' }} />
            <label>{{ title }}</label>
            <div class="img" id="moveDown"></div>
            <div class="img" id="moveUp"></div>
            <div class="img" id="destroy"></div>
            <!--<div class="message" id="message">message</div>-->
        </div>

        <input class="edit" type="text" value="{{ title }}" />
</script>

<script type="text/template" id="project-template">
        <div class="view-project">
            <label>{{ label }}:<pr>{{ project }}</pr></label><br><br>
            <span>{{ task }}  <input type="text" placeholder="{{ placeholderProj }}" >
            {{ done }} </span><input type="checkbox" >
            <div class="img" id="destroy"></div><br>
        </div>
</script>
